
.footer {
	margin-top: 20px;
}

.testControls {
	margin-bottom: 20px;
	width: 100%;
}

#testlist label {
	font-weight:500;
}

progress {
	height:20px;
	border-radius:9px;
}

.popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}