body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.footer {
	margin-top: 20px;
}

.testControls {
	margin-bottom: 20px;
}

#testlist label {
	font-weight:500;
}

progress {
	height:20px;
	border-radius:9px;
}
